@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
  background-image: url(bg_update.png);
  background-size: cover;
}

.dino{
  width: 60px;
  height: 60px;
  background-image: url(dino.png);
  position: absolute;
  bottom: 0;
}

.cactus{
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0;
  background-image: url(cactus.png);
}

.game-over{
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color: chocolate;
  font-size: 120px;
}

@keyframes slideRight{
  from{
    background-position: 70000%;
  }
  to{
    background-position: 0;
  }
}
